{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">성</th>
        <th scope="col">이름</th>
        <th scope="col">이매일</th>
        <th scope="col">비밀번호</th>
        <th scope="col">비밀번호확인</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/members/{{id}}">{{title}}</a></td>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td>{{password}}</td>
            <td>{{repeat}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>
{{>layouts/footer}}