{{>layouts/header}}

<head>
    <title>로그인</title>
</head>
<body>
    <div>
        <h2>로그인</h2>
        <form action="/member/login" method=post>
            <div>
                <label for="username">이름</label>
                <input type="text" name="username" placeholder="이름을 입력하세요">
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <div>
                <input type="checkbox">로그인정보 기억
            </div>
                <button type="submit">로그인</button>
        </form>
    </div>
    <div>
        <button type="submit">아이디 찾기</button>
        <button type="submit">비밀번호 찾기</button>
        <button type="submit">회원가입</button>
    </div>

</body>
{{>layouts/footer}}