<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

심사중 ~~~~~~~~~~~~~ML
MLMLMLML
ML
<form class="user" action="/application/judgments/judgment" method="post">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control form-control-user" id="name" name="name" required>

<div class="form-group">
    <button type="submit" class="btn btn-primary btn-user btn-block">
        check
    </button>
</div>
</form>


</body>
</html>