<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자 정보 페이지</title>
</head>
<body>

    <header>
        헤더
        <hr>
    </header>

    <main>
        <header>
            <h1>1</h1>
        </header>

        <aside>
            <p><span class="nick-name">Uno</span></p>
            <p><a class="u-url" rel="me" href="mailto:djkehh@gmail.com">uno@mail.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>

    </main>


    <footer>
        <hr>
        푸터
    </footer>



</body>
</html>