<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">gender</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {{#customerInfo}}
    <tr>
        <th>{{customerId}}</th>
        <td>{{gender}}</td>
        <td>{{Age}}</td>
    </tr>
    {{/customerInfo}}
    </tbody>
</table>
<a href="/customerInfo/{{customerInfo.customerId}}/edit" class="btn btn-primary">수정하기</a>
<a href="/customerInfo/{{customerInfo.customerId}}/delete" class="btn btn-danger">삭제하기</a>
<a href="/customerInfo">목록</a>
